<% provide :title, t("signup") %>
<% provide :user_submit_button, t("create_my_account") %>
<h1><%= t "signup" %></h1>
<p><%= t "signup_content" %></p>

<div class="row">
  <%= render "form" %>
</div>
